/* Reset default margin and padding for ul and li */

h2.dayRangeHeader {
  margin: 20px 0;
  /* background-color: #027bb9; */
  padding: 3px 0;
  text-align: center;
  font-size: 1.1rem;
}

.weatherSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Table styles */
.weatherSection table {
  width: 100%;
  border-collapse: collapse;
}

.weatherSection table th,
.weatherSection table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Alternate row colors */
.weatherSection table tbody tr:nth-child(even) {
  background-color: rgb(0 67 101 / 68%);
}

/* Hover effect */
.weatherSection table tbody tr:hover {
  background-color: hsla(200, 100%, 41%, 0.68);
}