/* Reset default margin and padding for ul and li */
.nav_list,
.nav_item {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style for navigation bar */
.navbar {
  background-color: #004365;
  border-radius: 10px;
  ;
}

/* Style for navigation list */
.nav_list {
  display: flex;
  justify-content: space-around;
}

/* Style for navigation item */
.nav_item {
  margin-right: 20px;
  /* Add spacing between items */
}


.nav_item.selected {
  text-decoration: underline;
}

/* Style for navigation link */
.nav_item a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

.nav_item a:hover {
  color: #02a9fd;
}



.header2 {
  text-align: center;
  font-size: 1.1rem;
}

section.hourly {
  align-items: center;
  display: flex;
  min-width: 350px;
  width: 100%;
  margin: 40px 0;
}

/* Table styles */
.hourly table {
  width: 100%;
  border-collapse: collapse;
}

.hourly table th,
.hourly table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Alternate row colors */
.hourly table tbody tr:nth-child(even) {
  background-color: rgb(0 67 101 / 68%);
}

/* Hover effect */
.hourly table tbody tr:hover {
  background-color: hsla(200, 100%, 41%, 0.68);
}

.fullDateRow {
  background-color: hsla(200, 100%, 41%, 0.68) !important;
  font-weight: 800;
  letter-spacing: 1px;
}

.tdAlignRight {
  text-align: right !important;
}