h1 {
    font-size: 1.6rem !important;
    text-align: center;
    margin: 2rem;
}

.header2 {
    text-align: center;
    font-size: 1.1rem;
}

.weatherSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherSection .container {
    align-items: center;
    display: flex;
    max-width: 350px;
    width: 95%;
}

.weatherSection .container>div {
    flex: 1;
}

.weatherSection .container p {
    text-align: center;
    font-size: 1rem;
}

.weatherSection .container p.currentTemp {
    font-size: 3rem;
}

.currentIcon {
    text-align: center;
}

.observations {
    background-color: #004365;
    border-radius: 10px;
    padding: 8px;
}

.observations h2 {
    font-size: 1.1rem;
    margin: 5px;
    ;
}

.observationSection {
    margin-top: .8rem;
}

.observations table {
    width: 100%;
}

.observations table tr td {
    padding: 5px;
    font-size: 1rem;
}