#root {
  margin: 0 auto;
  width: 50%;
  min-width: 320px;
  max-width: 600px;
}

h1 {
  font-size: 1.6rem !important;
  text-align: center;
  margin: 2rem;
}

.header2 {
  text-align: center;
  font-size: 1.1rem;
}

.weatherSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weatherSection .container {
  align-items: center;
  display: flex;
  max-width: 350px;
  width: 95%;
}

.weatherSection .container > div {
  flex: 1;
}

.weatherSection .container p {
  text-align: center;
  font-size: 1rem;
}

.weatherSection .container p.currentTemp {
  font-size: 3rem;
}

.currentIcon {
  text-align: center;
}

.observations {
  background-color: #004365;
  border-radius: 10px;
  padding: 8px;
}

.observations h2 {
  font-size: 1.1rem;
  margin: 5px;
  ;
}

.observationSection {
  margin-top: .8rem;
}

.observations table {
  width: 100%;
}

.observations table tr td {
  padding: 5px;
  font-size: 1rem;
}

.hourly {
  align-items: center;
  display: flex;
  min-width: 350px;
  width: 100%;
  margin: 40px 0;
}

.hourly table {
  width: 100%;
  border-collapse: collapse;
}

.hourly table th,
.hourly table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.hourly table tbody tr:nth-child(even) {
  background-color: rgb(0 67 101 / 68%);
}

.hourly table tbody tr:hover {
  background-color: hsla(200, 100%, 41%, 0.68);
}

.fullDateRow {
  background-color: hsla(200, 100%, 41%, 0.68) !important;
  font-weight: 800;
  letter-spacing: 1px;
}

.tdAlignRight {
  text-align: right !important;
}

h2.dayRangeHeader {
  margin: 20px 0;
  padding: 3px 0;
  text-align: center;
  font-size: 1.1rem;
}

.daily table {
  width: 100%;
  border-collapse: collapse;
}

.daily table th,
.daily table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.daily table tbody tr:nth-child(even) {
  background-color: rgb(0 67 101 / 68%);
}

.daily table tbody tr:hover {
  background-color: hsla(200, 100%, 41%, 0.68);
}

.nav_list, .nav_item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar {
  background-color: #004365;
  border-radius: 10px;;
}

.nav_list {
  display: flex;
  justify-content: space-around;
}

.nav_item {
  margin-right: 20px; /* Add spacing between items */
}


.selected {
  text-decoration: underline;
}

.nav_item a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

.nav_item a:hover {
  color: #02a9fd;
}
