#root {
  margin: 0 auto;
  width: 50%;
  min-width: 320px;
  max-width: 600px;
}


/* Reset default margin and padding for ul and li */
.nav_list, .nav_item {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style for navigation bar */
.navbar {
  background-color: #004365;
  border-radius: 10px;;
}

/* Style for navigation list */
.nav_list {
  display: flex;
  justify-content: space-around;
}

/* Style for navigation item */
.nav_item {
  margin-right: 20px; /* Add spacing between items */
}


.selected {
  text-decoration: underline;
}

/* Style for navigation link */
.nav_item a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

.nav_item a:hover {
  color: #02a9fd;
}
